body {
  font-family: "sans-serif";
}

.attribute-title {
  font-weight: 600;
}

.empty-attribute {
  font-style: italic;
}

.title {
  border-bottom: 1pt solid lightgray;
  font-weight: 600;
  margin: 5pt;
  padding: 5pt;
}

.repositories-requests {
  border: 2pt solid lightgray;
  border-radius: 5pt;
  margin: 5pt;
  padding: 5pt;
}

.repositories-requests div {
  padding: 5pt;
}

.repository-fields {
  border-bottom: 1pt solid lightgray;
}

.request-form {
  border-bottom: 1pt solid lightgray;
}

.request-form:last-child {
  border: none;
}

.request-result {
  border: 2pt solid;
  border-radius: 5pt;
  margin: 5pt;
  padding: 5pt;
}

.request-result-data {
  max-height: 120pt;
  overflow: auto;
}

.request-result-fail {
  border-color: red;
}

.request-result-succeed {
  border-color: green;
}

.request-result-warn {
  border-color: orange;
}

.request-title {
  border-bottom: 1pt solid lightgray;
  font-weight: 600;
  padding-bottom: 5pt;
  margin-bottom: 5pt;
}
